<h1>Title and description</h1>

<p>
  <strong>The name of your site:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Used in your theme, meta data and search results:</strong>
  <%= @site.theme %>
</p>

<%= link_to 'Edit' %> 
<%= link_to 'Back', stories_path %>
